html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

#mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: purple;
}

#weatherBox {
  width: 700px;
  height: 300px;
  background-color: #f0f0f0;
  display: flex;
  border-radius: 12px;
  border: 3px solid lightcoral;
  padding: 4px;
  justify-content: space-between;
}

.day{
  background-color: lightpink;
  display: flex;
  width: 33%;
  padding: 4px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 12px;
}

.day:first-child, .day:last-child{
  margin-left: 0;
  margin-right: 0;
}

day:last-child{
  margin-left: 0;
  margin-right: 0;
}