html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(191, 225, 226);
}

#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 700px;
}

#searchbarBox{
  align-self: flex-end;
}

#weatherBox {
  width: 800px;
  height: 480px;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 65% auto;
  row-gap: 5px;
  border-radius: 12px;
  border: 3px solid rgb(5, 195, 243);
  padding: 4px;
  justify-content: space-between;
}

.day{
  background-color:  rgb(160, 225, 240);
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 50% 50%;
  padding: 4px;
  margin-left: 3px;
  margin-right: 3px;
  border-radius: 12px;
}

#day1{
  grid-column: 1 / span 2;
}

#day1 .location{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  justify-content: flex-start;
  padding-left: 10px;
}

#day1 .date{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 35px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  padding-right: 10px;
}

#day1 .location{
  height: 40px;
  display: grid;
  align-items: center;
}

#day1 .condition{
  display: grid;
  grid-template-rows: 75% 1fr;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid rgb(5, 195, 243);
  margin-right: 5px;
}

#day1 .conditionIconDiv{
  height: 100%;
  width: auto;
  justify-self: center;
}

#day1 .conditionWords{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding-bottom: 5px;
  display: flex;
  justify-self: center;
  align-self: flex-start;
}

#day1 .temperature, #day2 .temperature, #day3 .temperature{
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  width: 100%;
  grid-template-columns: 15% 35% 15% 35%;
  grid-template-rows: 40% 10% 40%;
  justify-self: center;
  border-radius: 12px;
  border: 3px solid rgb(5, 195, 243);
  margin-left: 5px;
}

#day1 .degreec, #day1 .degreef{
  display: flex;
  align-self: center;
  justify-self: flex-end;
  font-size: 30px;
  font-weight: bold;
}

#day1 .degreec{
  grid-row: 1 / 4;
  grid-column-start: 1;
}

#day1 .maxtemp_c, #day1 .pc, #day1 .mintemp_c,
#day1 .maxtemp_f, #day1 .pf, #day1 .mintemp_f{
  font-size: 26px;
  padding-left: 10px;
}

#day1 .maxtemp_c{
  grid-row: 1 / 2;
  grid-column-start: 2;
  display: flex;
  align-self: flex-end;
}

#day1 .pc{
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  align-self: center;
}

#day1 .mintemp_c{
  grid-row-start: 3;
  grid-column-start: 2;
}

#day1 .degreef{
  grid-row: 1 / 4;
  grid-column-start: 3;
}

#day1 .maxtemp_f{
  grid-row: 1 / 2;
  grid-column-start: 4;
  display: flex;
  align-self: flex-end;
}

#day1 .pf{
  grid-row-start: 2;
  grid-column-start: 4;
  display: flex;
  align-self: center;
}

#day1 .mintemp_f{
  grid-row-start: 3;
  grid-column-start: 4;
}

#day2{
  grid-column: 1;
}

#day3{
  grid-column: 2;
}

#day2, #day3{
  grid-template-rows: 15% 85%;
}


#day2 .location, #day3 .location{
  height: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  justify-content: flex-start;
  padding-left: 10px;
}

#day2 .date, #day3 .date{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
  padding-right: 10px;
}

#day2 .condition, #day3 .condition{
  display: grid;
  grid-template-rows: 75% 25%;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 3px solid rgb(5, 195, 243);
}

#day2 .conditionIconDiv, #day3 .conditionIconDiv{
  height: 10px;
  width: 10px;
  justify-self: center;
}

#day2 .conditionWords, #day3 .conditionWords{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-top: 10px;
  justify-self: center;
}


#day2 .degreec, #day3 .degreec{
  grid-row: 1 / 4;
  grid-column-start: 1;
}


#day2 .degreec, #day2 .degreef,
#day3 .degreec, #day3 .degreef{
  display: flex;
  align-self: center;
  justify-self: flex-end;
  font-size: 20px;
  font-weight: bold;
}

#day2 .maxtemp_c, #day2 .pc, #day2 .mintemp_c,
#day2 .maxtemp_f, #day2 .pf, #day2 .mintemp_f,
#day3 .maxtemp_c, #day3 .pc, #day3 .mintemp_c,
#day3 .maxtemp_f, #day3 .pf, #day3 .mintemp_f{
  font-size: 20px;
  padding-left: 10px;
}

#day2 .maxtemp_c, #day3 .maxtemp_c{
  grid-row: 1 / 2;
  grid-column-start: 2;
  display: flex;
  align-self: flex-end;
}

#day2 .pc,
#day3 .pc{
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  align-self: center;
}

#day2 .mintemp_c,
#day3 .mintemp_c{
  grid-row-start: 3;
  grid-column-start: 2;
}

#day2 .degreef,
#day3 .degreef{
  grid-row: 1 / 4;
  grid-column-start: 3;
}

#day2 .maxtemp_f,
#day3 .maxtemp_f{
  grid-row: 1 / 2;
  grid-column-start: 4;
  display: flex;
  align-self: flex-end;
}

#day2 .pf,
#day3 .pf{
  grid-row-start: 2;
  grid-column-start: 4;
  display: flex;
  align-self: center;
}

#day2 .mintemp_f,
#day3 .mintemp_f{
  grid-row-start: 3;
  grid-column-start: 4;
}
